body {
    background-color: beige;
}

h1 {
    color: darkblue;
    text-align: center;
    background-color: powderblue;
    font-size: x-large;
}

.center {
    text-align: center;
}

.login-form {
    width: 500px;
    text-align: center;
    margin: auto;
}

.error-information {
    width: 500px;
    text-align: center;
    margin: auto
}
