{% extends 'base.html' %}
{% block title %}Rentals list{% endblock %}
{% block content %}
    <h1>Your rentals history</h1>
    <table class="table table-stripped">
        <thead>
            <th>Cat's name</th>
            <th>Rental date</th>
            <th>Return date</th>
        </thead>
        <tbody>
        {% for rental in user_rentals %}
            <tr>
                <td>{{ rental.cat.name }}</td>
                <td>{{ rental.rental_date }}</td>
                <td>{{ rental.return_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}