{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}Cat details{% endblock %}
{% block content %}
    <h1>Rental dates</h1>
    <div class="rental-form">
        <div>
            <label>
                <b>
                    You're going to rent: {{ cat.name }}
                </b>
            </label>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit"> Rent!</button>
        </form>
    </div>
{% endblock %}
