.about-content {
    width: 500px;
    text-align: center;
    margin: auto;
}

.bg-warning{
    text-align: center;
}

.search-form{
    width: 200px;
    text-align: center;
    margin: auto;
}

.rental-form{
    width: 200px;
    text-align: center;
    margin: auto;
}

.dropdown{
    text-align: center;
}